@charset "utf-8";

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$cyan-light: #71C0F4;
$cyan-lighter: #B6DFF9;

$brand-blue-darker: #00878C;
$brand-blue-dark: #37A6AD;
$brand-blue: #65C8D0;

$mobile: 760px; // Usually 768px, overridden for my splitscreen

// Update Bulma's global variables
$primary: $brand-blue;
$navbar-breakpoint: $mobile;

// Import Bulma
@import "../modules/bulma/bulma.sass";
@import "../modules/bulma-collapsible/src/sass/index.sass";
@import "../modules/bulma-timeline/src/sass/index.sass";
@import "../modules/bulma-divider/src/sass/index.sass";
@import "../modules/bulma-o-steps/index.sass";
@import "../modules/bulma-carousel/src/sass/index.sass";

// Custom CSS
.has-equal-height {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.is-bg-img {
    background-size: cover;
}

.is-box-button {
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.is-square-image-128x128 {
    width: 128px;
    height: 128px;
    object-fit: cover;
}

.has-box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
