@charset "utf-8";

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$cyan-light: #71C0F4;
$cyan-lighter: #B6DFF9;

// Update Bulma's global variables
$primary: $cyan-light;

// Import Bulma
@import "../modules/bulma/bulma.sass";

// Custom CSS
.has-equal-height {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.is-bg-img {
    background-size: cover;
}

.is-box-button {
    flex-direction: column;
    height: 100%;
}
