{% from "macros/bulma_form.html" import render_form, render_field %}
{% extends "base.html" %}

{% block content %}
<section class="hero is-fullheight-with-navbar">
    <div class="has-background-primary-light"> <!-- used to be hero-body -->
        <div class="columns" style="width: 100%">
            <div class="column is-narrow has-background-primary pl-5" style="max-width:250px">
                <aside class="menu mb-2">
                    <figure class="image is-128x128">
                        {# img should use is-square-image-128x128, but this
                        isn't working for some reason in main.scss #}
                        <img class="is-rounded" style="width:128px; height:128px; object-fit:cover" src="{{ user.display_image.url if user.display_image is not none else 'https://bulma.io/images/placeholders/128x128.png' }}">
                    </figure>
                </aside>
                <h1 class="title">{{ user.display_name }}</h1>
                <h2 class="subtitle mb-3">{{ user.id }}</h2>
                {% if user.description is not none %}
                <div class="content">
                    <p>{{ user.description }}</p>
                </div>
                {% endif %}
                <div>
                    <i class="fas fa-envelope mb-3"></i> <a href="mailto:{{ user.primary_email }}">{{ user.primary_email }}</a>
                </div>
                {% if user.educational_institution %}
                <div>
                    <i class="fas fa-university mb-3"></i> {{ user.educational_institution }}
                </div>
                {% endif %}
                <hr>

                {% if user.developer %}
                <p class="menu-label">
                    Developer
                </p>
                <div class="mb-3">
                    {% if user.developer.verification_status.value == 1 %}
                        <i class="fas fa-minus-circle has-text-warning"></i> Application pending
                    {% elif user.developer.verification_status.value == 2 %}
                        <i class="fas fa-minus-circle has-text-warning"></i> Awaiting response
                    {% elif user.developer.verification_status.value == 3 %}
                        <i class="fas fa-check-circle has-text-success"></i> Verified 
                    {% else %}
                        <i class="fas fa-times-circle has-text-danger"></i> Not verified
                    {% endif %}
                </div>
                {% endif %}

                {% if user.departments %}
                <p class="menu-label">
                    Departments
                </p>
                    {% for org_name, org in organisations.items() %}
                    <ul class="menu-list">
                        <li>
                            <div onmouseover="mouseover_expand(this)" onmouseout="mouseover_collapse(this)">
                                {% if org['link'] %}
                                <a href="{{ org['link'] }}">{{ org_name }}</a>
                                {% else %}
                                <a>{{ org_name }}</a>
                                {% endif %}
                                <div id="collapsible-div-{{ loop.index }}" class="is-collapsible">
                                    <ul>
                                        {% for dep_name, dep in org['departments'].items() %}
                                        <li>
                                            {% if dep['link'] %}
                                            <a href={{ dep['link'] }}>{{ dep_name }}</a>
                                            {% else %}
                                            <a>{{ dep_name }}</a>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                {% endif %}
                {% if user.can_create_departments %}
                <a href={{ url_for('profile.create_department') }} class="button is-outlined is-inverted is-success">Create department</a>
                {% endif %}
            </div>

            <main class="column">
                <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Edit profile</a></li>
                  </ul>
                </nav>
                        <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <div class="title has-text-primary"><i class="fa fa-user"></i> Edit profile</div>
                    </div>
                  </div>
                  {#
                  <div class="level-right">
                    <div class="level-item">
                      <button type="button" class="button is-small">
                        March 8, 2017 - April 6, 2017
                      </button>
                    </div>
                  </div>
                  #}
                </div>
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-11">

                            <form method="post" action="." role="form" accept-charset="UTF-8" enctype="multipart/form-data" novalidate class="box">
                                {{ form.csrf_token }}
                                {{ render_field(form.user_name) }}
                                {{ render_field(form.email, False) }}
                                {{ render_field(form.display_name) }}
                                {{ render_field(form.description) }}
                                {{ render_field(form.university_check) }}
                                <div id="div_university">
                                {{ render_field(form.university) }}
                                </div>
                                {{ render_field(form.display_image) }}
                                <button class="button is-success" type="submit" name="submit"><i class="fas fa-save">&nbsp;</i>Save changes</button>
                                {#
                                {{ render_field(form.password) }}
                                {{ render_field(form.confirm) }}
                                #}
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
<script src="/static/assets/js/sidebar.js"></script>
<script src="/static/assets/js/university_collapsible.js"></script>
{% endblock %}
