{% extends "base.html" %}

{% from "macros/formhelpers.html" import render_field %}

{% block content %}
{% with errors = get_flashed_messages() %}
{% if errors %}
<div>
{% for error in errors %}
{{ error }}<br>
{% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form method="POST" action="." accept-charset="UTF-8" role="form" enctype='multipart/form-data'>
          <dl>
            {{ form.csrf_token }}
            {{ render_field(form.user_name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {{ render_field(form.display_name) }}
            {{ render_field(form.description) }}
            {{ render_field(form.university_check) }}
            <div id="div_university">
            {{ render_field(form.university) }}
            </div>
            {{ render_field(form.upload_cv) }}
            {{ render_field(form.accept_tos) }}
          </dl>
          <p><button type=submit name=submit>Register</button>
        </form>

        <script>
        function yesnoCheck() {
            if (document.getElementById('university_check').checked) {
                document.getElementById('div_university').style.display = 'block';
            } else {
                document.getElementById('div_university').style.display = 'none';
            }
        }
        yesnoCheck()
        </script>
    </div>
</div>
{% endblock %}
