{% extends "base.html" %}

{% from "macros/bulma_form.html" import render_form, render_field %}

{% block content %}

<div class="column is-8 is-offset-2 content"> <h1 class="title">Register as a client</h1>
    <p>
    At Dreaming Spires, we seek to link first-class programming talent into your
    research.  Through us, you can gain access to our wide talent pool, helping
    solve computational problems your organisation faces in areas such as data
    processing, porting old software, and writing bespoke code.  
    </p>

    <p>
    Our developers are selected to be of a high standard through our interview
    process.  You can click <a>here</a> to see our portfolio of work.
    </p>

    <h2 class="subtitle">How does it work?</h2>
    <p>
    Once verified as an organisation, you gain access to our online marketplace where
    your programming tasks can be submitted.  
    The job notices will be made available to our developers who can register
    interest to work on the project.
    </p>

    <h2 class="subtitle">Getting started</h2>
    <p>
    To become a verified organisation, you must first create a user account.
    Afterwards, you will be able to create a new organisation or join an existing
    one.
    </p>

    <p>
    To create a new organisation, you will be required to provide proof of
    leadership of the organisation.  This will include registering your account
    with an email address from your organisation, and providing supporting
    documentation.
    </p>

    <p>
    To join an existing organisation, you should request that the leader of the
    organisation add you.
    </p>
    
    <p>
    <b>Sound interesting?</b>  <a href="#register_form">Sign up below</a>!
    </p> 
    <p>
    <b>More questions?</b> Read our <a href="/client_faq">client FAQ</a>.
    </p> 
</div>

{% with errors = get_flashed_messages() %}
{% if errors %}
<div>
{% for error in errors %}
{{ error }}<br>
{% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="column is-8 is-offset-2">
    <h3 class="title has-text-centered">Create an account</h3>
</div>
<a id="register_form"></a>
{{ render_form(form, ".", width=8, mark_required=False, is_horizontal=False) }}

<script>
function yesnoCheck() {
    if (document.getElementById('university_check').checked) {
        document.getElementById('university_div').style.display = 'block';
    } else {
        document.getElementById('university_div').style.display = 'none';
    }
}
yesnoCheck()
</script>
{% endblock %}
