{% extends "base.html" %}
{% block content %}
<section class="hero is-fullheight-with-navbar">
    <div class="mt-4">
        <div class="columns is-centered" style="width: 100%">
            <main class="column is-8 is-offset-1 content">
                <div class="box has-text-light">
                        <h1 class="title has-text-primary">Project idea registered!</h3>
                        <hr>
                        <p>You should receive an email within the next few minutes confirming receipt of your project idea.</p>

                        <h3 class="subtitle has-text-primary">What happens next?</h3>
                        <p>
                        We will contact you soon to discuss your ideas, to flesh out project
                        requirements, and find out how we can help you best.
                        </p>

                        <h3 class="subtitle has-text-primary">More questions?</h3>
                        Email us at <a href="mailto:contact@dreamingspires.dev">contact@dreamingspires.dev</a>!
                </div>
            </main>
        </div>
    </div>
</section>

{% endblock %}
