{% extends "base.html" %}

##{% from "macros/formhelpers.html" import render_projects_table %}

{% block content %}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body" style="position: absolute">
        <div class="columns">
            <div class="column is-2 aside">
                {{ sidebar|safe }}
            </div>

            <main class="column main">
                <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
                  </ul>
                </nav>
                        <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <div class="title has-text-primary"><i class="fa fa-tachometer"></i> Dashboard</div>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <button type="button" class="button is-small">
                        March 8, 2017 - April 6, 2017
                      </button>
                    </div>
                  </div>
                </div>

            <table class="table">
                <thead>
                    <th>Project</th>
                    <th>Date Posted</th>
                    <th><abbr title="Estimated Completion Time">ECT</abbr></th>
                    <th>Pay</th>
                    <th>Organisation</th>
                    <th>Department</th>
                    <th>tags</th>
                </thead>
                <tbody>
        ##            {{ render_projects_table(projects_table) }}
                    <tr>
                        <td><a>Do a thing!</a></td>
                        <td>2020-07-03</td>
                        <td>2w</td>
                        <td>£1000</td>
                        <td>University of Oxford</td>
                        <td>Department of Silly Walks</td>
                        <td><div class="tags">
                            <a class="tag">Python</a> <a class="tag">Porting</a>
                        </div></td>
                    </tr>
                </tbody>
            </table>

            </main>
        </div>
    </div>
</section>
<script>
    const collapsibles = document.getElementsByClassName('is-collapsible');
    for (var i=0; i<collapsibles.length; ++i) {
        new bulmaCollapsible(collapsibles[i]);
    };

    // Collapse on hover functionality
    function mouseover_expand(elem) {
        const c = elem.querySelector('.is-collapsible');
        c.bulmaCollapsible('expand');
    };

    function mouseover_collapse(elem) {
        const c = elem.querySelector('.is-collapsible');
        c.bulmaCollapsible('collapse');
    };
</script>

{% endblock %}
