{% extends "base.html" %}

{% from "macros/formhelpers.html" import render_field %}

{% block content %}
    <table class="table">
        <thead>
            <th>Project</th>
            <th>Date Posted</th>
            <th><abbr title="Estimated Completion Time">ECT</abbr></th>
            <th>Pay</th>
            <th>Organisation</th>
            <th>Department</th>
            <th>tags</th><!--back-end, front-end, porting-->
        </thead>
        <tbody>
            {{ render_projects_table(projects_table) }}
            <tr>
                <td><a>Do a thing!</a></td>
                <td>2020-07-03</td>
                <td>2w</td>
                <td>£1000</td>
                <td>University of Oxford</td>
                <td>Department of Silly Walks</td>
                <td><div class="tags">
                    <a>Python</a> <a>Porting</a>
                </div></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
