<p>Hi there,</p>
<p>Thanks for registering to freelance with Dreaming Spires!</p>
<br>
We're looking forward to speaking with you soon about the exciting research
projects we're currently involved with, and how you might be able to get involved.
<p>We'll be in contact with you soon to discuss your current experience, and schedule an interview so you can showcase your skills.  Details will be clarified in our future communication, but the essence is as follows:</p>
<p>
You'll be asked to clarify on your experience, showcase previous work where possible (NDAs accounted for), and explain how you'd solve a relevant problem.</p>
<p>
The call with take place using <a href="https://meet.jit.si">Jitsi Meet</a>.  There's no formal dress code, and the call will take no longer than 20 minutes.
</p>
<p>
If your application is successful, you'll be registered in our Talent Pool where you can apply to get involved in different research projects.  You'll receive our regular Freelancer Bulletin, allowing you to flexibly take on projects according to your availability.
</p>
<p>
All the best with preparing for the upcoming interview, and we look forward to speaking with you soon.
</p>
<br>
<p>Kind regards,</p>
<p>The Dreaming Spires Team</p>
