{% extends "base.html" %}

{% from "includes/client_landing.html" import render_landing %}
{% from "includes/client_register.html" import render_get_in_touch %}

{% macro render_post(post) %}
<a href="{{ url_for('portfolio', _anchor=post.url_id) }}">
  <div class="card">
    <div class="card-image">
      <figure class="image is-16by9">{# is-covered #}
        {% if post.portfolio_image is not none %}
        <img src="{{ post.portfolio_image.url }}" alt="">
        {% endif %}
      </figure>
    </div>
    <div class="card-content">
      <div style="font-weight: bold">
        {{ post.portfolio_title }}
      </div>
      <div>
        {{ post.portfolio_description }}
      </div>
    </div>
  </div>
</a>
{% endmacro %}

{% block fullheight %}
{{ render_landing(researcher_rel_href=True, chevron_id="#register_client") }}
{% endblock %}

{% block content %}
<a id="register_client" style="font-size: 0"></a>

  <section class="is-hidden-touch">
    <section id="client_desk_1" class="is-hero is-fullheight-with-navbar has-background-info has-text-light is-hidden-touch pt-6">
      
      <div class="tile is-ancestor mx-6">
        <div class="tile is-parent is-12 is-horizontal mb-3">
            <!-- <div class="tile is-child is-1"></div> -->
          <div class="tile is-child is-8 content">
            {{ welcomeBlock() }}
          </div>
          <div class="tile is-parent is-vertical is-4 content has-text-centered pb-0">
            <div class="tile is-child"></div>
            <div class="tile is-child">
              <p class="subtitle is-size-4 mb-3">
                Know what you need?
              </p>
              <div class="has-text-centered">
                <a class="button is-warning has-background-warning-dark is-rounded is-large" href="#signup">
                  <span class="is-size-4">
                    Get in Touch
                  </span>
                </a>
              </div> 
              <p class="subtitle is-size-4 mb-0 mt-1">
                Or call us on:
              </p>
              <span class="is-size-4 mb-3">{{ call_number() }}</span>
              
            </div>
          </div>
        </div>
      </div>
   
      <div class="columns mx-6">
        <div class="column is-2">
          <hr style="border: 1px solid;" class="new subtitle">
        </div>
        <div class="subtitle is-italic is-size-5 pt-5 mx-5">
          Learn More About Us...
        </div>
        <div class="column">
          <hr style="border: 1px solid;" class="new subtitle">
        </div>
      </div>
      
      <div class="columns mx-6 my-3">
        {% for i in range(3) %}
        <div class="column">
          {{ client_title(i) }}
          {{ client_icon(i, 0) }}
          <b>{{ client_blurb_title(i) }}</b>
          <br>
          {{ client_blurb(i) }}
        </div> 
        {% endfor %}

      </div>    
      <div class="has-text-centered pb-1">
        <a href="#client_desk_2" class="title is-2 fas fa-chevron-down has-text-light"></a>
      </div>

    </section>

    <section id="client_desk_2" class="is-hero has-background-light pt-6 pb-0">
      <div class="tile is-ancestor mx-6">
        
        <div class="tile is-parent is-vertical">
          <div class="tile is-parent is-horizontal">
            <div class="tile is-child is-6"> 
              {{ client_title(3)}}
              <div class="has-text-info">
                {{ client_icon(3, 0) }}
              </div>
              <b>{{ client_blurb_title(3) }}</b>
              <br>
              {{ client_blurb(3) }}
            </div>
            <div class="tile is-parent is-vertical is-6">
              <div class="tile is-child is-12">
                <div class="is-square-image-128x128"></div>
              </div>    
              <div class="tile is-child is-12"> 
                {{ client_title(4) }}
                <div class="has-text-info">
                  {{ client_icon(4, 0) }}
                </div>
                <b>{{ client_blurb_title(4) }}</b>
                <br>
                {{ client_blurb(4) }}
              </div>
            </div>
          </div>
          <div class="tile is-child is-12">
            <h1 class="title mb-3 is-size-1 has-text-dark">Oxbridge-based Software
    Solutions <br>for Researchers</h1>
          </div>
        </div>
        <div class="tile is-parent is-vertical is-4">
          
          <p class="title is-size-1 is-pulled-right has-text-dark" style="text-align:right">Interested? Call:<br>
            <span class="is-pulled-right is-size-2 mb-3" style="white-space:nowrap">{{ call_number() }}</span>
          </p>            
          <div class="tile is-parent is-12">
            <div class="tile is-parent is-12 is-vertical">          
              <div class="tile is-child is-12 mt-6">           
                <div class="has-text-info">
                  {{ client_icon(5, 0) }}
                </div>
                {{ client_title(5)}}
                <b>{{ client_blurb_title(i) }}</b>
                <br>
                {{ client_blurb(5) }}
              </div>
              <div class="tile is-child is-12 has-text-centered">
                <p class="is-size-5 mb-3"><i>Oxbridge based, freelance powered.</i></p>
                  <a class="button is-warning is-rounded has-background-warning-dark" href="#signup">Enquire Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="has-text-centered pb-1">
        <a href="#signup" class="title is-2 fas fa-chevron-down has-text-info"></a>
      </div>
    </section>
  </section>


<!-- MOBILE  -->
<section id="client_desk_1" class="is-hidden-desktop ">
  <section class="is-hero {{ section_color(0,0) }} pb-0">
    <div class="is-8 content px-6 pt-3" >
      {{ welcomeBlock() }}
    </div>
    <div class="mt-6 px-6">
      <p class="subtitle subtitle-on-dark is-size-3 mb-0 has-text-centered mb-3">Know what you need?</p>
      <div class="level">
        <div class="buttons level-item">
          <a class="button is-warning is-rounded" href="#signup">Get in touch</a>
        </div> 
      </div>
    </div>
    <div class="has-text-centered pb-1">
      <a href="#regMob2" class="title is-2 fas fa-chevron-down has-text-light"></a>
    </div>
  </section>

  {% set list2 = [2,1,5,0,3,4] %}
  {% set section_number = list2|length %}
  {% for j in list2 %}
  {% set i = loop.index0 %}
  {% set regMob_numerated = 'regMob' + (i // 2 + 2)|string() %}
  {% set hashed_regMob_numerated = '#regMob' + (i // 2 + 3)|string() %}

  <section id="{{ regMob_numerated }}" class=" is-hero {{ section_color((i + 2) // 2 % 2,0) }} pt-5 pb-0">
      <div class="collapsible-wrapper mx-5 is-vcentered is-mobile">
        <div class="mx-3">
        {{ client_title(j) }}
        </div>
        <div class="columns is-mobile is-vcentered is-gapless mx-3">
          <div class = "column is-four-fifths has-text-weight-bold">
            <br>
            {{ client_blurb_title(j) }}
          </div>
          <div class = "column is-one-fifth">
            <button style="border: none; outline: none;" class="title is-pulled-right {{ section_color((i + 2) // 2 % 2,0) }} fas fa-chevron-down" aria-label="chevron" onclick="ToggleExpand(this)">
            </button>
          </div>
        </div>
        <div id="blurb0" class="is-collapsible">
          {{ section_alignment(i,j,1) }}
        </div>
      </div>
    {{ last_section(i,section_number,hashed_regMob_numerated) }}
  </section>
  {% endfor %}
</section>

{{ render_get_in_touch('Whether you’re beginning to wonder how computation would aid your research, or already have a fully-planned specification, we’d love to hear from you. Our consultants will be happy to discuss the ways in which your research could be accelerated by introducing programming talent.', form) }}

<script src="{{ url_for('static', filename='assets/js/register_collapsible.js') }}"></script>

{% endblock %}

{% macro client_icon(n, v) %}
  {% if n == 0 %}
    <div class="level">
      <div class="level-item">
        {% if v ==  0 %}
          <i class="fas fa-comments fa-10x fa-centered mb-3"></i>
        {% else %}
          <i class="fas fa-comments fa-4x fa-centered mb-3"></i>
        {% endif %}
      </div>
    </div>
  {% elif n == 1 %}
    <div class="level">
      <div class="level-item">
        {% if v == 0 %}
          <i class="fas fa-space-shuttle fa-10x fa-centered fa-rotate-335 mb-3"></i>
        {% else %}
          <i class="fas fa-space-shuttle fa-4x fa-centered fa-rotate-335 mb-3"></i>
        {% endif %}
      </div>
    </div>
  {% elif n == 2 %}
    <div class="level">
      <div class="level-item">
        {% if v == 0 %}
          <i class="fas fa-toolbox fa-10x fa-centered mb-3"></i>
        {% else %}
          <i class="fas fa-toolbox fa-4x fa-centered mb-3"></i>
        {% endif %}
      </div>
    </div>
  {% elif n == 3 %}
    <div class="level">
      <div class="level-item">
        {% if v == 0 %}
          <i class="fas fa-microscope fa-10x fa-centered mb-3"></i>
        {% else %}
          <i class="fas fa-microscope fa-4x fa-centered mb-3"></i>
        {% endif %}
      </div>
    </div>
  {% elif n == 4 %}
    <div class="level">
      <div class="level-item">
        {% if v == 0 %}
          <i class="fas fa-paper-plane fa-10x fa-centered mb-3"></i>
        {% else %}
          <i class="fas fa-paper-plane fa-4x fa-centered mb-3"></i>
        {% endif %}
      </div>
    </div>
  {% else %}
    <div class="level">
      <div class="level-item">
        {% if v == 0 %}
          <i class="fas fa-code fa-10x fa-centered mb-3"></i>
        {% else %}
          <i class="fas fa-code fa-4x fa-centered mb-3"></i>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endmacro %}


{% macro welcomeBlock() %} 
  <h1 class="has has-text-light is-size-1 mb-0 pt-3 has-text-weight-light">Welcome to Dreaming Spires!</h1>
  <p class="subtitle is-size-3 subtitle-on-dark pt-3 has-text-weight-normal is-italic">Bringing Programming Talent to Your Research</p>
  <p class="is-size-5">Dreaming Spires is a software development consultancy specialising in research. <br> <br>
    We manage a pool of talented developers to design, create and launch software for researchers 
    and institutions.
  </p>
{% endmacro %}

{% macro last_section(a,b,regMob) %}
  {% if a + 1 == b %}
    <div class="level mt-6">
      <div class="level-item">
        <div class="buttons level-right">
            <a class="button is-warning is-rounded" href="../../contact">Sign Up Below</a>
          </div> 
      </div>
    </div>
    
    <div class="has-text-centered pb-1">
      <a href="#signup" class="title is-2 fas fa-chevron-down {{ section_color((a + 2) // 2 % 2,2) }}"></a>
    </div>
  {% elif a % 2 == 0 %}
  {% else %}
    <div class="has-text-centered pb-1">
      <a href="{{ regMob }}" class="title is-2 fas fa-chevron-down {{ section_color((a + 2) // 2 % 2,2) }}"></a>
    </div>
  {% endif %}
{% endmacro %}

{% macro section_alignment(align,n,v) %}
  {% if align % 2 == 0 %}
    <div class="columns is-vcentered is-mobile ml-0 mr-4">
      <div class="column is-three-quarters">
        {{ client_blurb(n) }}
      </div>
      <div class="column is-3">
        {{ client_icon(n, v) }}
      </div>
    </div>
  {% else %}
  <div class="columns is-vcentered is-mobile mr-0 ml-4">
    <div class="column is-3">
      {{ client_icon(n, v) }}
    </div>
    <div class="column is-three-quarters">
      {{ client_blurb(n) }}
    </div>
  </div>
  {% endif %}
{% endmacro %}

{% macro section_color(n,m) %}
  {% if n % 2 == 0 %}
    {% if m == 0 %}
      has-background-info has-text-light
    {% elif m == 1 %}
      has-background-info
    {% elif m == 2 %}
      has-text-light
    {% endif %}
  {% else %}
    {% if m == 0 %}
      has-background-light has-text-info
    {% elif m == 1 %}
      has-background-light
    {% elif m == 2 %}
      has-text-info
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro client_title(n) %}
  {% if n == 0 %}
    <h2 style="word-break: normal" class="title has-text-weight-light">Free Quote<br> and Initial Consultation...</h2>
    <h3 style="word-break: normal" class="subtitle is-italic">...for every project!</h3>
  {% elif n == 1 %}
    <h2 style="word-break: normal" class="title has-text-weight-light">It Doesn’t Have to<br> be Rocket-Science...</h2>
    <h3 style="word-break: normal" class="subtitle is-italic">...unless you want it to be!</h3>
  {% elif n == 2 %}
    <h2 style="word-break: normal" class="title has-text-weight-light">Exceptional <br>Talent...</h2>
    <h3 style="word-break: normal" class="subtitle is-italic">...at exceptional prices!</h3>
  {% elif n == 3 %}
    <h2 style="word-break: normal" class="title has-text-weight-light">Total <br>Transparency</h2>
    <h3 style="word-break: normal" class="subtitle is-italic">We'll work under a looking-glass!</h3>
  {% elif n == 4 %}
    <h2 style="word-break: normal" class="title has-text-weight-light">Deployment? <br>Sorted!</h2>
    <h3 style="word-break: normal" class="subtitle is-italic">Success begins with a well planned launch</h3>
  {% else %}
    <h2 style="word-break: normal" class="title has-text-weight-light">Specialising in<br>Open Source</h2>
    <h3 style="word-break: normal" class="subtitle is-italic">We love open source...</h3>
  {% endif %}
{% endmacro %}

{% macro client_blurb_title(n) %} 
  {% if n == 0 %}
    <p>Testing the digital waters shouldn’t incur
      charges.
    </p>
  {% elif n == 1 %}
    <p>We offer step-by-step guidance, regardless of
      your computer literacy or academic
      background.
    </p>
  {% elif n == 2 %}
    <p>Many other software development firms won't
      take on a low-cost project.
    </p>
  {% elif n == 3 %}
    <p>We stay in touch throughout the development process.
    </p>
  {% elif n == 4 %}
    <p>Code is <i>only</i> useful when you can use it
    </p>
  {% else %}
    <p>Open source aligns with our ethoses of transparency collaboration, and honesty.
    </p>
  {% endif %}
{% endmacro %}

{% macro client_blurb(n) %} 
  {% if n == 0 %}
    <p>We offer a free initial consultation and
      subsequent quote! Our experienced
      consultants will help you plan the requirements
      and scope of your project, enabling you to
      make informed decisions about what’s
      important to you. And if you decide that we’re
      not the right fit, you won’t have incurred any
      charges.
    </p>
  {% elif n == 1 %}
    <p>Our consultants will ensure you
      are clearly informed throughout the design and
      development process - there’s no need for you
      to have programming experience or knowledge
      of application development. Our research-
      oriented approach will allow you to make well
      informed decisions from start to finish.
    </p>
  {% elif n == 2 %}
    <p>This is where we excel.
      Our freelance business structure
      employs the most skilled developers to work
      collaboratively, and the money saved on office
      costs etc. reduces the final cost to you. To talk
      through your project - no matter how small -
      get in touch!
    </p>
  {% elif n == 3 %}
    <p>You’ll be receiving weekly progress reports from our
      consultants from day one right up to project
      completion. We want to get things just right, so we
      won’t finish development until all of your
      requirements have been met.
    </p>
  {% elif n == 4 %}
    <p>It’s one thing to have the code written, but it’s only
      useful once you can use it. So whether your project
      requires 24/7 web hosting, launching to mobile app
      stores, deployment to your local supercomputer
      cluster, or just quality documentation, we have you
      covered.
    </p>
  {% else %}
  <p>In research, collaboration
    through sharing methods and discoveries is critical; in
    the same way, open source software is publicly
    available online for others to see, edit, and make use
    of. Whether your project will be open source is
    entirely your decision, and we’ll do our best to inform
    you of the impacts of doing so.
    </p>
  {% endif %}
{% endmacro %}