{% macro render_field(field) %}
  {% if field.label %}
  <dt>{{ field.label }}
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_projects_table(rows) %}
{% for row in rows %}
    <tr>
    {% for k,v in row.items() %}
        {% if k not in ['id'] %}
            <td>
            {% if k == "name" %}
                <a href="/projects/{{ row['id'] }}">{{ v }}</a>
            {% elif k == "organisation" %}
                <a href="/organisation/{{ row['organisation_link'] }}">{{ v }}</a>
            {% elif k == "department" %}
                <a href="/organisation/{{ row['organisation_link'] }}/{{ row['department_link'] }}">{{ v }}</a>
            {% elif k == "tags" %}
                <div class="tags">
                {% for (text, colour_tag) in v %}
                    <a class="{{ colour_tag }}">{{ text }}</a>
                {% endfor %}
                </div>
            {% else %}
                {{ v }}
            {% endif %}
            </td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
{% endmacro %}
