<div class="columns is-centered">
  <div class="column is-11">
      <div class="timeline is-centered">
        <header class="timeline-header">
          <span class="tag is-medium is-success">Start</span>
        </header>
        <div class="timeline-item is-success">
          <div class="timeline-marker is-icon is-success">
            <i class="fa fa-play fa-4x"></i>
          </div>
          <div class="timeline-content">
            <p class="heading">Project submission</p>
            <p>A research institution contacts us with a digital project in mind</p>
          </div>
        </div>
        <div class="timeline-item is-warning">
          <div class="timeline-marker is-icon">
            <i class="fa fa-clipboard-list"></i>
          </div>
          <div class="timeline-content">
            <p class="heading">Develop requirements</p>
            <p>We work closely to flesh out project requirements, a roadmap, and a costing for the project</p>
          </div>
        </div>
        <div class="timeline-item is-warning">
          <div class="timeline-marker is-icon">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-content">
            <p class="heading">Assign developers</p>
            <p>Through our internal marketplace, we advertise available jobs to interested developers</p>
          </div>
        </div>
        <div class="timeline-item is-warning">
          <div class="timeline-marker is-icon">
            <i class="fa fa-terminal"></i>
          </div>
          <div class="timeline-content">
            <p class="heading">Project work underway</p>
            <p>We assign developers to work on the project, either individually or collaboratively</p>
          </div>
        </div>
        <div class="timeline-item is-warning">
          <div class="timeline-marker is-icon">
            <i class="fa fa-bug"></i>
          </div>
          <div class="timeline-content">
            <p class="heading">Code review</p>
            <p>We bug test the code, and ensure the resulting code is of a high standard</p>
          </div>
        </div>
        <div class="timeline-item is-danger">
          <div class="timeline-marker is-icon is-danger">
            <i class="fa fa-flag"></i>
          </div>
          <div class="timeline-content">
            <p class="heading">Project completion</p>
            <p> We help you deploy the project, and provide a maintenance package for ongoing work</p>
          </div>
        </div>
        <div class="timeline-header">
          <span class="tag is-medium is-success">End</span>
        </div>
      </div>
  </div>
</div>
