{% from "macros/bulma_form.html" import render_form  %}
{% from "macros/globals.html" import call_number %}

{% macro login(login_form) %}
<div id="loginModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content  has-background-light mx-4" style="border-radius: 10px;">
      <div class="column px-6">
        <div class="column is-6 is-offset-3 has-text-centered px-5 py-6">
          <h3 class="title">Log in to Dreaming Spires</h3>
        </div>
        {{ render_form(login_form, ".", box=True,  width=12, mark_required=False, is_horizontal=False) }}
        <div class="mb-5"></div>
      </div>
    </div>
    <button class="modal-close is-large has-background-light" aria-label="close" onclick="toggleModal()"></button>
</div>
{% endmacro %}