{% from "macros/bulma_form.html" import render_form  %}

{% macro login(login_form) %}
<div id="loginModal" class="modal">
  <div class="modal-background columns is-vcentered is-mobile pb-0 mb-0"></div>
  <div class="modal-content  column is-2 has-background-light mx-4 is-hidden-touch is-hidden-desktop-only " style="border-radius: 10px;">
    {{ modalContent(login_form) }}
  </div>
  <div id="mobileModal" class="modal-content  column has-background-light mx-4 is-hidden-widescreen is-mobile" style="border-radius: 10px;">
    {{ modalContent(login_form) }}
  </div>
  <button class="modal-close is-large has-background-light" style="position: fixed;" aria-label="close" onclick="toggleModal()"></button>
</div>
{% endmacro %}

{% macro modalContent(login_form) %}
  <div class="column px-2">
    <div class="column has-text-centered py-5">
      <h3 class="title has-text-weight-normal">Sign In to Spires</h3>
    </div>

    {{ render_form(login_form, "/auth/login/", box=False,  width=12, mark_required=False, is_horizontal=False) }}
    <div class="has-text-centered">
      <a id="forgotPassword" href="" class="pb-4" >Forgot your password? </a>
      <p>Not got an account? <a href="">Sign up now</a></p>
    </div>
    <div class="mb-5"></div>
  </div>
{% endmacro %}
