<section class="section is-medium section-secondary">
    <div class="container">

        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 light-text is-spaced">Testimonials</h2>
            <h3 class="subtitle is-5 light-text">Some text goes here.</h3>
        </div>

        <div class="content-wrapper">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <figure class="testimonial">
                        <blockquote>
                            This is quite possibly the very best programming service that I have every received from any company ever.  It unbelievably exceeded my expectations, and my project was delivered to time.
                        </blockquote>
                        <div class="author">
                            <img src="/static/assets/images/testimonials/edd.jpg" alt=""/>
                            <h5>Edd Salkield</h5><span>Accountant</span>
                        </div>
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="testimonial">
                        <blockquote>
                            This is quite possibly the very best programming service that I have every received from any company ever.  It unbelievably exceeded my expectations, and my project was delivered to time.
                        </blockquote>
                        <div class="author">
                            <img src="/static/assets/images/testimonials/mark.jpg" alt=""/>
                            <h5>Mark Todd</h5><span>Financial Analyst</span>
                        </div>
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="testimonial">
                        <blockquote>
                            This is quite possibly the very best programming service that I have every received from any company ever.  It unbelievably exceeded my expectations, and my project was delivered to time.
                        </blockquote>
                        <div class="author">
                            <img src="/static/assets/images/testimonials/rogan.jpg" alt=""/>
                            <h5>Rogan Clark</h5><span>HR Manager</span>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
/* ==========================================================================
Testimonials Styles
========================================================================== */
.testimonial {
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}

.testimonial * {
  box-sizing: border-box;
}

.testimonial img {
  max-width: 100%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 5px;
  display: block;
  z-index: 1;
  position: absolute;
  right: 60%;
}

.testimonial blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fcfcfc;
  padding: 30px 50px 65px 50px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 -40px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.testimonial blockquote:before, .testimonial blockquote:after {
  font-family: 'FontAwesome';
  content: "\f10d";
  position: absolute;
  font-size: 20px;
  opacity: 0.3;
  font-style: normal;
}

.testimonial blockquote:before {
  top: 35px;
  left: 20px;
}

.testimonial blockquote:after {
  content: "\f10e";
  right: 20px;
  bottom: 35px;
}

.testimonial .author {
  margin: 0;
  height: 80px;
  display: block;
  text-align: left;
  color: #fff;
  padding: 0 35px;
  position: relative;
  z-index: 0;
}

.testimonial .author h5, .testimonial .author span {
  left: 50%;
  position: absolute;
  opacity: 0.8;
  padding: 3px 5px;
}

.testimonial .author h5 {
  text-transform: capitalize;
  bottom: 60%;
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
  color: #444F60;
}

.testimonial .author span {
  font-size: 0.8em;
  color: #fff;
  top: 50%;
}
</style>
