<section class="section is-fullwidth is-medium has-background-info">
    <div class="container">
    <div class="columns">
        <div class="column">
            <h2 class="title">Who are we?</h2>
            <h3 class="subtitle is-4 is-muted">
                A bit about us
            </h3>
            <hr>
        </div>
        <div class="column is-8 mt-6">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="/static/assets/images/icons/node-tree.svg">
                    </p>
                </figure>
                <div class="media-content content">
                    <h4 class="subtitle">Collaborative freelance agency</h4>
                    <p>
                        We link first-class programming talent with interesting
                        programming projects, tailoring to the needs of your group.
                    </p>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="/static/assets/images/icons/lightbulb-line.svg">
                    </p>
                </figure>
                <div class="media-content content">
                    <h4 class="subtitle">Working on interesting problems</h4>
                    <p>
                        We love finding elegant, practical solutions to diverse
                        programming problems.  Our rich skillset lends itself well
                        to interdisciplinary work.  Take a look at 
                        <a href="#portfolio">our portfolio</a>.
                    </p>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="/static/assets/images/icons/lock-unlock-line.svg">
                    </p>
                </figure>
                <div class="media-content content">
                    <h4 class="subtitle">Specialising in open source</h4>
                    <p>
                        We want our code to be as useful as possible, so we strive
                        to work according to open source values.  We strive to
                        contribute code upstream through our community-driven
                        efforts.
                    </p>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="/static/assets/images/icons/terminal-box-line.svg">
                    </p>
                </figure>
                <div class="media-content content">
                    <h4 class="subtitle">With a wide talent pool</h4>
                    <p>
                        Our developers represent a diverse variety of skillsets, 
                        ranging from web design and software development to 
                        porting and patching old codebases.
                    </p>
                </div>
            </article>


        </div>
    </div>
    </div>
</section>
