{% extends "base.html" %}

##{% from "macros/formhelpers.html" import render_projects_table %}

{% block content %}
<section class="hero is-fullheight-with-navbar">
    <div class="has-background-primary-light"> <!-- used to be hero-body -->
        <div class="columns" style="width: 100%">
            <div class="column is-narrow has-background-primary">
                {{ sidebar|safe }}
            </div>

            <main class="column">
                <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
                  </ul>
                </nav>
                        <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <div class="title has-text-primary"><i class="fa fa-store-alt"></i> Dashboard</div>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <button type="button" class="button is-small">
                        March 8, 2017 - April 6, 2017
                      </button>
                    </div>
                  </div>
                </div>

            </main>
        </div>
    </div>
</section>
<script src="/static/assets/js/sidebar.js"></script>
{% endblock %}
