<!DOCTYPE html>
<html>
    <head>
        <title>Dreaming Spires</title>
    </head>
    <body>
        <ul>
            {% for item in nav.top %}
            <li class="{{ 'active' if item.is_active else '' }}">
                <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
            {% endfor %}
        </ul>

        <h1>Dreaming Spires</h1>
        <h3>Bringing programming talent to your research.</h3>
        <p>Are you a...</p>
        <p><a href="{{ url_for('client') }}">research institution looking for programming talent?</a></p>
        <p><a href="{{ url_for('developer') }}">developer or student looking for freelance work?</a></p>
    </body>
</html>
